<H1>Power sockets</H1>
<H3>Sockets list:</H3>
{% if sockets %}
    {% for socket in sockets %}
        <form action="{% url 'powersocket:update_socket' socket.socket_id %}" method="post">
        {% csrf_token %}
        {% if socket.current_state == True %}
            {{ socket.name }} (On):<br>
        {% else %}
            {{ socket.name }} (Off):<br>
        {% endif %}
        <p>Configured schedules:<br>
        {% if socket.schedule_set.all %}
            {% for sched in socket.schedule_set.all %}
                {{ sched }}<br>
            {% endfor %}
        {% else %}
            (none)
        {% endif %}
        </p>
        {% if socket.current_state == True %}
            <input type="submit" value="Turn Socket Off"/>
            <input type="hidden" id="hiddenInput" name="change_to" value="off" />
        {% else %}
            <input type="submit" value="Turn Socket On"/>
            <input type="hidden" id="hiddenInput" name="change_to" value="on" />
        {% endif %}
        </form>
    {% endfor %}

    <p>
    <form action="{% url 'powersocket:update_socket' 'allon' %}" method="post">
        {% csrf_token %}
        Turn all sockets on! 
        <input type="submit" value="GO"/>
    </form>
    </p>
    <p>
    <form action="{% url 'powersocket:update_socket' 'alloff' %}" method="post">
        {% csrf_token %}
        Turn all sockets off! 
        <input type="submit" value="GO"/>
    </form>
    </p>
{% else %}
    <p>No sockets configured!</p>
{% endif %}
